
body {
   font-family: bree serif, serif;
   font-size: 20pt;
   color: #fff;
   background-color: #2df;
   background-size: cover;
   background-repeat: no-repeat;
   text-shadow: 2px 2px 4px #000;
}
.con{
   background: rgba(30, 30, 30, .7);
   width: 500px;
   padding: 20px;

}
a,a:hover{
   color:#fff;
}
